<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrator</title>
</head>
<body>
   <p> This i where the Admin or shop owner account is created</p>
   <p>it should contain a form of password, forgot password, email</p>
   <p>the page next to successful registration or login should lead to page that allows to add</p>
   <ul>
       <li>Item name</li>
       <li>its price</li>
       <li>the unit in which the price is defined</li>
       <li>discount offers on much buying</li>
   </ul>
    
</body>
</html>